<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Respuestas</title>
</head>
<body>
    <h1>Respuestas del Código</h1>
    <a href="{{ url_for('respuesta_codigo.crear_respuesta') }}">Crear Nueva Respuesta</a>
    <ul>
        {% for respuesta in respuestas %}
            <li>
                Archivo: {{ respuesta.archivo_nombre }} | Tiempo: {{ respuesta.tiempo }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
